<div>
    <el-menu :default-openeds="[]">
        <el-submenu index="1">
            <template slot="title"><i class="el-icon-user-solid"></i>[[ user.name ]]</template>
            <el-menu-item-group>
                <template slot="title">申请</template>
                <el-menu-item index="1-1">新申请</el-menu-item>
                <el-menu-item index="1-2">我的申请</el-menu-item>
            </el-menu-item-group>

        </el-submenu>
        <el-submenu index="2" v-if="user.institutional_admin">
            <template slot="title"><i class="el-icon-user-solid"></i>[[ school.name ]]</template>
            <el-menu-item-group>
                <template slot="title">申请</template>
                <el-menu-item index="2-1">查询伦理申请</el-menu-item>


            </el-menu-item-group>

            <el-menu-item-group>
                <template slot="title">初审</template>
                <el-menu-item index="2-2">待初审申请</el-menu-item>
                <el-menu-item index="2-3">未通初审的申请</el-menu-item>
            </el-menu-item-group>

            <el-menu-item-group>
                <template slot="title">复审</template>
                <el-menu-item index="2-4">待复审申请</el-menu-item>
                <el-menu-item index="2-5">未通过复审的申请</el-menu-item>
                <el-menu-item index="2-6">通过复审的申请</el-menu-item>
            </el-menu-item-group>


        </el-submenu>

        <el-submenu index="3" v-if="user.provincial_admin">
            <template slot="title"><i class="el-icon-user-solid"></i>[[ province.name ]]</template>
            <el-menu-item-group>
                <template slot="title">申请</template>
                <el-menu-item index="3-1">查询伦理申请</el-menu-item>


            </el-menu-item-group>

            <el-menu-item-group>
                <template slot="title">初审</template>
                <el-menu-item index="3-2">待初审申请</el-menu-item>
                <el-menu-item index="3-3">未通初审的申请</el-menu-item>
            </el-menu-item-group>

            <el-menu-item-group>
                <template slot="title">复审</template>
                <el-menu-item index="3-4">待复审申请</el-menu-item>
                <el-menu-item index="3-5">未通过复审的申请</el-menu-item>
                <el-menu-item index="3-6">通过复审的申请</el-menu-item>
            </el-menu-item-group>


        </el-submenu>
    </el-menu>
</div>


